{% extends "base.html" %}
{% block main %}
<h1>welcome to myus!</h1>
<p>This is a site where you can run puzzlehunts, with teams and answer checking and puzzle unlocking and stuff! <br><br>

Any bugs or feature requests? Find us at <a href="https://github.com/PuzzleTechHub/myus">our Github</a> <br><br>

Please note that currently - <br>
- Any hunt you create is immediately "public". To edit/delete hunts or just to test Myus, please ping us on  <a href="https://discord.gg/kgTK5eD7XY">PTH Discord</a>.<br>
- On hunt start, everyone can see all starting puzzles. To enforce start time, just add a single "dummy puzzle" that unlocks the hunt proper.<br>
</p>
<h2>Hunts</h2>
{% if hunts %}
<ul>
	{% for hunt in hunts %}
	<li><a href="{% url 'view_hunt' hunt.id %}">{{ hunt.name }}</a></li>
	{% endfor %}
</ul>
{% else %}
<p>none yet</p>
{% endif %}
<p><a href="{% url 'new_hunt' %}">Create a new hunt</a></p>
{% endblock %}
