{% extends "base.html" %}
{% block title %}
Login
{% endblock %}
{% block main %}

{% if next %}
	<p>Please <a href="{% url 'login' %}">login</a> to see this page. Don't have an account? Just <a href="{% url 'register' %}">register!</a></p>
{% endif %}

<form id="login" method="post">
	{% csrf_token %}
	{{ form.non_field_errors }}

	<table class="classic">
	{{ form.as_table }}
	</table>

	<input type="submit" value="Submit">
	<input type="hidden" name="next" value="{{ next }}">
</form>
{% endblock %}
