{% extends "base.html" %}
{% block nav %}
    » New Hunt
{% endblock %}
{% block main %}
    <h1>New Hunt</h1>
    Note that currently,<br>
    - All new hunts are automatically public!<br>
    - <b>If you want to just test Myus/how to make a hunt here, ping us on <a href="https://discord.gg/kgTK5eD7XY">PTH Discord</a>.</b><br>
    - If you want to edit/delete hunts, also ping us on the discord.<br>
    - On hunt start, everyone can see all starting puzzles. So if you want to make a public hunt for later (or just enforce start time), we recommend using a "dummy first puzzle" to gate everything else behind it.<br><br>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <table class="classic">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>

{% endblock %}
